<!DOCTYPE html>
<html>
<head>
  <title>Team7</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<script>
(function(){
  var np,nid="nikeplus-sdk",d=document,
  es=d.getElementsByTagName("script")[0];
  if (d.getElementById(nid)) {return;}
    np=d.createElement("script");np.id=nid;
    np.src="https://s3.nikecdn.com/nikeplus/js/v2/jssdk.min.js";
    es.parentNode.insertBefore(np,es);
  })();
  </script>
</body>
</html>
